<!DOCTYPE html>
<html>
<head>
    <title>File Manager</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style type="text/css">
        .row {margin-top: 20px;}
    </style>
</head>
<body>
    <div class="container">
        <h1>File Manager</h1>
        <div class="row">
            {% for file in files %}
            <div class="col-md-4">
                <h3>{{ file.name }}</h3>
                <p><a href="{{ file.file.url }}" target
